force-app/main/default/flows/LX_Book_2_Appointments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Service_Appointment_1</name>
        <label>Assign Service Appointment 1</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>objServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>postalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDTStartTime1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDTEndTime1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDTStartTime1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDTEndTime1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceterritoryid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Center</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LX_Service_Appointment_Helper_flow_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Appointment_2</name>
        <label>Assign Service Appointment 2</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>objServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDTStartTime2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDTEndTime2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDTStartTime2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDTEndTime2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LX_Service_Appointment_Helper_flow_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Error_message_SA1_creation</name>
        <label>Copy 1 of Error message SA1 creation</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Let your admin know that there was no scheduling policy found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_Went_Wrong</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_message_SA1_creation</name>
        <label>Error message SA1 creation</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Let your admin know that there was an error creating SA 1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_Went_Wrong</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>error_message_sa1_rollback</name>
        <label>set error message SA1 rollback</label>
        <locationX>842</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Let your admin know that there was an error during rollback of SA 1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Something_Went_Wrong</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_message_SA2_creation</name>
        <label>Error message SA2 creation</label>
        <locationX>578</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Let your admin know that there was an error creating SA 2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_Went_Wrong</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_error_message</name>
        <label>set error message</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No slots found day 1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_Went_Wrong</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_error_message_2</name>
        <label>set error message</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No slots found day 2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_Went_Wrong</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Day_1_and_Day_2_slots_found</name>
        <label>Day 1 and Day 2 slots found</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>set_error_message_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_both_days_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numSlotsDay1</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numSlotsDay2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Slots</targetReference>
            </connector>
            <label>Yes both days found</label>
        </rules>
    </decisions>
    <decisions>
        <description>if Save 1 worked but Save 2 fails, we will try to delete SA 1</description>
        <name>Error_with_Save22</name>
        <label>Error with Save 2</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Appointment_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>error_with_Save_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_1st_SA</targetReference>
            </connector>
            <label>Yes error with Save 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_with_Save_1</name>
        <label>Error with Save 1</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Assign_Service_Appointment_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_error_with_Save_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_message_SA1_creation</targetReference>
            </connector>
            <label>Yes error with Save 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Policy_Found</name>
        <label>No Policy Found?</label>
        <locationX>677</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>LX_Get_Slots_Helper_Flow_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Policy_Found_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_default_Scheduling_policy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_message_SA1_creation</targetReference>
            </connector>
            <label>No Policy Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1st_Appointments_Found</name>
        <label>1st Appointments Found?</label>
        <locationX>1304</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>set_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1st_Appointments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numSlotsDay1</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LX_Get_Slots_Helper_Flow_2</targetReference>
            </connector>
            <label>Yes 1st Appointments</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula2ndDTDefault</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+14</expression>
    </formulas>
    <formulas>
        <name>formulaDTEndTime1</name>
        <dataType>DateTime</dataType>
        <expression>datetimevalue(mid({!textDay1},find(&apos;End&apos;,{!textDay1})+3,19))</expression>
    </formulas>
    <formulas>
        <name>formulaDTEndTime2</name>
        <dataType>DateTime</dataType>
        <expression>datetimevalue(mid({!textDay2},find(&apos;End&apos;,{!textDay2})+3,19))</expression>
    </formulas>
    <formulas>
        <name>formulaDTStartTime1</name>
        <dataType>DateTime</dataType>
        <expression>datetimevalue(mid({!textDay1},find(&apos;Start&apos;,{!textDay1})+5,19))</expression>
    </formulas>
    <formulas>
        <name>formulaDTStartTime2</name>
        <dataType>DateTime</dataType>
        <expression>datetimevalue(mid({!textDay2},find(&apos;Start&apos;,{!textDay2})+5,19))</expression>
    </formulas>
    <formulas>
        <name>formulaResource1</name>
        <dataType>String</dataType>
        <expression>mid({!textDay1},find(&apos;ResourceId&apos;,{!textDay1})+10,18)</expression>
    </formulas>
    <formulas>
        <name>formulaResource2</name>
        <dataType>String</dataType>
        <expression>mid({!textDay2},find(&apos;ResourceId&apos;,{!textDay2})+10,18)</expression>
    </formulas>
    <interviewLabel>LX Book 2 Appointments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LX Book 2 Appointments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_1st_SA</name>
        <label>Delete 1st SA</label>
        <locationX>578</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>Error_message_SA2_creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_message_sa1_rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppointmentId1</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
    </recordDeletes>
    <recordLookups>
        <name>get_default_Scheduling_policy</name>
        <label>get default Scheduling policy</label>
        <locationX>677</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Policy_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsOrgDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AppointmentSchedulingPolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_1</name>
        <label>Get Service Appointment 1</label>
        <locationX>1106</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppointmentId1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_2</name>
        <label>Get Service Appointment 2</label>
        <locationX>1106</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppointmentId2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Slots</name>
        <label>Select Slots</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Service_Appointment_1</targetReference>
        </connector>
        <fields>
            <name>Day1Tiles</name>
            <extensionName>FDGPack:GilmoreLabs_FlowTileGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstInput</name>
                <value>
                    <elementReference>collectionDay1Slots</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstSelectedItem</name>
                <value>
                    <elementReference>textDay1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>textDay1</assignToReference>
                <name>firstSelectedItem</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Day2Tiles</name>
            <extensionName>FDGPack:GilmoreLabs_FlowTileGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstInput</name>
                <value>
                    <elementReference>collectionDay2Slots</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstSelectedItem</name>
                <value>
                    <elementReference>textDay2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>textDay2</assignToReference>
                <name>firstSelectedItem</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Territory</name>
        <label>Select Territory</label>
        <locationX>677</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_default_Scheduling_policy</targetReference>
        </connector>
        <fields>
            <name>selectserviceterritory</name>
            <extensionName>runtime_appointmentbooking:flowLocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>worktypegroupid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>worktypegroupid</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceterritoryid</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>city</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>postalcode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>state</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>street</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Time_Frame_Work_Type</name>
        <label>Select Time Frame and Work Type</label>
        <locationX>677</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Territory</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Book 2 Appointments&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This flow will allow you to book 2 appointments at 1 time. It uses anonymous booking and will assign resources for you automatically.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Time_Frame_Work_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Time_Frame_Work_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Starting_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>1st Appointment Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Horizon</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Horizon</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter the number of days to search for availability after the entered date and time.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Time_Frame_Work_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2nd_Appointment_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>formula2ndDTDefault</elementReference>
                    </defaultValue>
                    <fieldText>2nd Appointment Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Time_Slots</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>3.0</numberValue>
                    </defaultValue>
                    <fieldText>Number of Time Slots</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;please enter a number between 1 and 25&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Number_of_Time_Slots} &gt; 0 &amp;&amp;{!Number_of_Time_Slots} &lt;= 25</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>selectWTG</name>
            <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>worktypegroupid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>worktypegroupid</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Something_Went_Wrong</name>
        <label>Something Went Wrong!</label>
        <locationX>677</locationX>
        <locationY>2918</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Somethingwentwrongtext</name>
            <fieldText>&lt;p&gt;Sorry! Please try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1106</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You have scheduled the following appointments:&lt;/p&gt;&lt;p&gt;1) first appointment&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Appt Num: &lt;/span&gt;{!Get_Service_Appointment_1.AppointmentNumber}&lt;/p&gt;&lt;p&gt;Start Time: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Service_Appointment_1.SchedStartTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;End Time: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Service_Appointment_1.SchedEndTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;2) second appointment&lt;/p&gt;&lt;p&gt;Appt Num: {!Get_Service_Appointment_2.AppointmentNumber}&lt;/p&gt;&lt;p&gt;Start Time: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Service_Appointment_2.SchedStartTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;End Time: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Service_Appointment_2.SchedEndTime}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Time_Frame_Work_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LX_Get_Slots_Helper_Flow_1</name>
        <label>LX Get Slots Helper Flow 1</label>
        <locationX>1304</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>X1st_Appointments_Found</targetReference>
        </connector>
        <flowName>LX_Get_Slots_Helper_Flow</flowName>
        <inputAssignments>
            <name>inAccountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inApptNumber</name>
            <value>
                <stringValue>1st</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inHorizon</name>
            <value>
                <elementReference>Horizon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inNumSlots</name>
            <value>
                <elementReference>Number_of_Time_Slots</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inPolicyId</name>
            <value>
                <elementReference>get_default_Scheduling_policy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inStartDateTime</name>
            <value>
                <elementReference>Starting_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inTerritoryId</name>
            <value>
                <elementReference>serviceterritoryid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inWorkTypeGroupId</name>
            <value>
                <elementReference>worktypegroupid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>collectionDay1Slots</assignToReference>
            <name>outCollectionSlots</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>numSlotsDay1</assignToReference>
            <name>outNumSlots</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LX_Get_Slots_Helper_Flow_2</name>
        <label>LX Get Slots Helper Flow 2</label>
        <locationX>974</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Day_1_and_Day_2_slots_found</targetReference>
        </connector>
        <flowName>LX_Get_Slots_Helper_Flow</flowName>
        <inputAssignments>
            <name>inAccountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inApptNumber</name>
            <value>
                <stringValue>2nd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inHorizon</name>
            <value>
                <elementReference>Horizon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inNumSlots</name>
            <value>
                <elementReference>Number_of_Time_Slots</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inPolicyId</name>
            <value>
                <elementReference>get_default_Scheduling_policy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inStartDateTime</name>
            <value>
                <elementReference>X2nd_Appointment_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inTerritoryId</name>
            <value>
                <elementReference>serviceterritoryid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inWorkTypeGroupId</name>
            <value>
                <elementReference>worktypegroupid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>collectionDay2Slots</assignToReference>
            <name>outCollectionSlots</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>numSlotsDay2</assignToReference>
            <name>outNumSlots</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LX_Service_Appointment_Helper_flow_1</name>
        <label>LX Service Appointment Helper flow 1</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Error_with_Save_1</targetReference>
        </connector>
        <flowName>LX_Service_Appointment_Helper_flow</flowName>
        <inputAssignments>
            <name>inServiceAppointment</name>
            <value>
                <elementReference>objServiceAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inServiceResourceId</name>
            <value>
                <elementReference>formulaResource1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inWorkTypeGroupId</name>
            <value>
                <elementReference>worktypegroupid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>outErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>serviceAppointmentId1</assignToReference>
            <name>outServiceAppointmentId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LX_Service_Appointment_Helper_flow_2</name>
        <label>LX Service Appointment Helper flow 2</label>
        <locationX>842</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Error_with_Save22</targetReference>
        </connector>
        <flowName>LX_Service_Appointment_Helper_flow</flowName>
        <inputAssignments>
            <name>inServiceAppointment</name>
            <value>
                <elementReference>objServiceAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inServiceResourceId</name>
            <value>
                <elementReference>formulaResource2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inWorkTypeGroupId</name>
            <value>
                <elementReference>worktypegroupid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>outErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>serviceAppointmentId2</assignToReference>
            <name>outServiceAppointmentId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionDay1Slots</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionDay2Slots</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_kkk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkTypeGroupMember</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
    </variables>
    <variables>
        <name>numSlotsDay1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numSlotsDay2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>objServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>postalcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the account, opportunity, lead or case id. Account id in my examples.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceAppointmentId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceAppointmentId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceterritoryid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textDay1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textDay2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>worktypegroupid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>worktypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
