force-app/main/default/flows/LX_Get_Slots_Helper_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>call the API to get slots given the parameters provided. This class will return a collection of slots formatted for use in the DataTable Tiles appexchange component.</description>
        <name>LX_Get_Slots</name>
        <label>LX Get Slots</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>LXGetSlots</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>set_error_message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>inAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apptNumber</name>
            <value>
                <elementReference>inApptNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>horizon</name>
            <value>
                <elementReference>inHorizon</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numSlots</name>
            <value>
                <elementReference>inNumSlots</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>schedulingPolicyId</name>
            <value>
                <elementReference>inPolicyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceTerritoryId</name>
            <value>
                <elementReference>inTerritoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDateTime</name>
            <value>
                <elementReference>inStartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workTypeGroupId</name>
            <value>
                <elementReference>inWorkTypeGroupId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>outNumSlots</assignToReference>
            <name>numSlotsReturned</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outCollectionSlots</assignToReference>
            <name>textListSlots</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>set_error_message</name>
        <label>set error message</label>
        <locationX>440</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>outErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error during get slots</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outNumSlots</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>LX Get Slots Helper Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LX Get Slots Helper Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LX_Get_Slots</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inApptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inHorizon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inNumSlots</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inPolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inWorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outCollectionSlots</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outNumSlots</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
